.recipe__img img{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.recipe__block{
    justify-content: space-between;
}
.btnYoutube{
    display: block;
    width: 150px;
    border: none;
    background-color: #D49726;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin: 30px auto;
}
.instruction{
    margin-top: 30px;
}
.recipe{
    height: 100vh;
}
