@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: Raleway;
}

a {
  text-decoration: none;
  color: white;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.container{
  width: 1150px;
  display: block;
  margin: 0 auto;
}